/* Delete inside indents */
ul[class],
ol[class] {
    padding: 0;
}

/* Delete outside indents */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



/* Delete standart stylization for all ul и il, wich has atribute class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Elements a, wich don't have class, throw to default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Simplify work with images */
img {
    max-width: 100%;
    display: block;
}


/* Main CSS */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    color: #000000;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.link {
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

ul {
    list-style: none;

}



section {
    display: block;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.header-logo {
    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;


}

.header-logo-accent {

    color: var(--accent-color);
}

.header {
    background: #FFFFFF;
}

.studio-link{

}

.header-nav {
    height: 80px;
    display: flex;
    align-items: center;
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.header-mail {

    color: var(--primary-text-color);

}

.header-tel {
    margin-left: 50px;
    color: var(--primary-text-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Hero */
.hero {
    height: 600px;
    background-color: #2F303A;
    padding-top: 200px;
text-align: center;

}

.hero-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    margin-right: 0;   
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {

    padding: 10px 32px;
    margin-top: 30px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid transparent;
    ;
}

/* Advantage */

.advantage {
    padding-bottom: 94px;
    padding-top: 94px;

}

.advantage-list {}

.advantage-title {

    color: var(--title-text-color);
}

.advantage-item {
    width: 270px;
    margin-right: 30px;
}

.advantage-item:last-child {
    margin-right: 0;
}

.advantage-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    padding-bottom: 10px;
}

.advantage-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.gallery {
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-bottom: 50px;
}

.gallery-list,
.advantage-list,
.team-list {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-item {
    margin-right: 30px;
}

.gallery-item:last-child {
    margin-right: 0;
}

/* Our team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-list-item {
    background-color: #fff;
    width: 270px;
    height: 368px;
    margin-right: 30px;
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--title-text-color);
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-title {}

.portfolio-list {
    justify-content: center;
    display: flex;
    gap: 8px;
}

.portfolio-item {
    
}

.portfolio-btn {
    font-family: inherit;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: 0px;
    margin-right: 8px;
    margin-right: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.porto {
    margin-top: 50px;

}


.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.works-item {
    width: 370px;
      
}

.works-item-description {
    padding: 20px 0;
border: 1px solid #EEEEEE;
}


.works-img {}

.works-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-left: 24px;
    margin-bottom: 4px;
    
}

.works-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-left: 24px;
   
}

.works-link {}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway';
        color: #FFFFFF;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
}



.footer-logo span {
    color: var(--accent-color);
}

.adress {
    margin-top: 20px;
}

.adress-list {
    font-style: normal;
 
}

.adress-item {
   margin-top: 9px;
}

.adress-link {
    font-weight: 400;
        font-size: 14px;
    line-height: 1.71;
   letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.adress-link.map {
    color: #FFFFFF;
}